@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  font-size: 14px;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

// main-container global css
.app-container {
  padding: 20px;
}

.xz-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.xz-uploader .el-upload:hover {
  border-color: #409EFF;
}
.xz-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 100px;
  max-height: 120px;
  display: block;
}

.el-pagination { margin-top: 10px; margin-bottom: 10px; }
.container { padding: 20px; box-shadow: 0 2px 14px 0 rgba(0,0,0,0.1); border-radius: 8px; margin-bottom: 20px; }
.filter-item { margin-right: 10px; display: inline-block; }
.filter-item .el-input { width: auto; }
.filter-item input { width: 220px; }
.button-container { padding-bottom: 10px; }
.button-container .filter-item { margin-right: 0; }
.el-form { margin-left: 10px; }
.el-dialog__title { font-weight: bold; }
.row-icon { margin-right: 5px; cursor: pointer; }
.table-image { width: 52px; height: 52px; }
.label-remark { color: #999; font-size: 14px; }
.image52 { width: 52px; height: 52px; }
.image52 .xz-uploader-icon { width: 52px; height: 52px; line-height: 52px; }
.float-right{ float: right;}
